@font-face{
    font-family: didot;
    src: url("fonts/Didot.ttc");
}

@font-face{
    font-family: avenir;
    src: url("fonts/avenir.ttf");
}

@font-face{
    font-family: madecanvas;
    src: url("fonts/madecanvas.otf");
}

@font-face{
    font-family: spirax;
    src: url("fonts/spirax.ttf");
}

html{
    background-color: #111111;
}

body{
    margin: 0;
    top:0;
    text-align: center;
    font-family: avenir;
    background-color: #111111;
    letter-spacing: 2px;
    display: none;
}

.topnav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1000;
}

.black{color: #111111;}

.white{color: #dcdcdc;}

.topnav a {
/*    color: inherit;*/
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: madecanvas;
    line-height: 50px;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    font-weight: normal;
}

.topnav ul { 
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
    list-style: none; 
    display: table;
}
.topnav li { 
    display: table-cell; 
    position: relative; 
}

.topnav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topnav a.whiteline:after{background: #dcdcdc;}

.topnav a.blackline:after{background: #111111;}

.topnav a:hover:after { 
    width: 100%; 
    left: 0; 
}

#home{
    min-height: 100vh;
    background-color: #111111;
    color: #dcdcdc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: madecanvas;
}

#home img{
    width: 100%;
    height: auto;
    min-width: 350px;
}

.mobile{
    display: none;
}

.portrait{
    height: 100vh;
    width: auto;
    max-width: 100vw;
}

h1{
    font-size: 4vw;
    max-width: 90%;
    letter-spacing: 20px;
    font-family: madecanvas;
    font-weight: normal;
}

#arendt, #about{
    display: flex;
    position: relative;
    background-color: #dcdcdc;
    color: #252525;
    min-height: 100vh;
}

#arendtcontent{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 2.5%;
    justify-content: center;
    margin-bottom:1%;
    margin-top: 1%;
}

.quote{
    letter-spacing: 1px;
    font-size: 2em;
    font-family: didot;
    margin: 0;
}


hr {
  font-family: spirax;
  text-align: left;
  line-height: 1px;
  height: 1px;
  font-size: 2em;
  border-width: 1px 0;
  border-style: solid;
  
  margin: 20px 10px 20px 10px; 
  overflow: visible;
    
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

#arendt hr{
    border-color: #111111;
}

#arendt hr:after{
      color: #111111;
      background-color: #dcdcdc;
}

#ricoeur hr{
    border-color: #dcdcdc;
}

#ricoeur hr:after{
    background-color: #111111;
    color: #dcdcdc;
}

hr.after{
    margin: 20px 10px;
    text-align: right;
}

hr:after {
  content: "\"";

  display: inline; 

  padding: 0 0.5em;
}

x:-o-prefocus, hr:after {
  content: "";
}

.explanation{ font-size: 1em; }

#arendt .explanation{
    padding-right: 5%;
    padding-left: 3%;
}
#ricoeur .explanation{
    padding-right: 3%;
    padding-left: 5%;
}
.arendte{ text-align: left; }
.ricoeure{ text-align: right; }


#ricoeur{
    display: flex;
    position: relative;
    background-color: #111111;
    color: #dcdcdc;
    min-height: 100vh;
}

#ricoeurcontent{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 2.5%;
    justify-content: center;
    margin-bottom:1%;
    margin-top: 1%;
}

.links {
    font-size: 2em; 
    text-decoration: none;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: madecanvas;
}

#arendt .links{
    border: 1px solid #111111;
}

#ricoeur .links{
    border: 1px solid #dcdcdc;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
    background-color: #111111;
    margin-top: -1px;
}

#footer span{
    width: 100%;
    background-color: #DCDCDC;
    color: #111111;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media(max-width: 1220px){
    
    .topnav a{
        font-size: 1em;
        padding: 0px 20px;
    }
    
    #arendt, #ricoeur{
        flex-direction: column;
    }
    
    #arendtcontent, #ricoeurcontent{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #ricoeur img{
        order: -1;
    }
    
    .portrait{
        max-width: 100vw;
        height: auto;
    }
}

@media(max-width: 576px){
    .quote{
        font-size: 1.5em;
    }
    
    .desktop{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}